@media only screen and (max-width:600px) {
  .buttonlink {
      display: flex;
      margin-top: -15px;
  }

  .nav-link {
      display: none;
      width: 100%;
  }

  .nav-bar {
      flex-direction: column;
      align-items: flex-start;
      line-height: 4rem;
  }

  .nav-link ul {
      width: 100%;
      flex-direction: column;
      background-color: white;
      padding: 5px;
      position: absolute;
      background-color: beige;
  }

  .nav-link li {
      text-align: center;
      margin: -10px 0;


  }

  .nav-link ul li a {
      padding: .5rem 1rem;
  }

  .nav-link.active {
      display: flex;
  }
}
@media only screen and (max-width:400px){
  .fbox1 p,
  .fbox2 a {
      font-size: medium;
  }

  footer .fcontainer .fbox1 h3,
  .fbox2 h3 {
      font-size: 30px;
      line-height: 80px;
  }

  .fcontainer {
      margin: 60px 8vw;
  }
}
@media only screen and (max-width:690px) {
  .fcontainer {
      flex-direction: column;
  }
  
}    
@media only screen and (max-width:845px){
  main .ourstory{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  main{
      padding-top: 50px;
  }
  main .ourstory .s-box2 p{
      padding-top: 20px;
  }
  main .ourstory .s-box2{
      width: 500px;
      min-width: 200px;
  }
  main .ourstory .s-box1{
      width: 500px;
      min-width: 200px;
  }

}
@media only screen and (max-width:500px){
  main .ourstory .s-box2{
      width: 100%;
  }
  main .ourstory .s-box1{
      width: 100%;
  }
}
@media only screen and (max-width:690px){
  .gitouch h3 {
      
      font-size: 25px;
  }
  .gitouch{
      padding: 50px 10% 50px 10%; 
  }
}